@model NewHouse.Models.Familia

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza que pretende apagar esse registro?</h3>
<div>
    <h4>Família</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renda)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
